.logo {
    padding-top: 129px;
}

.center {
    text-align: center;
}

#rcorners2 {
  border-radius: 25px;
  border: 1px solid gray;
  padding: 20px;
  width: 300px;
  height: 8px;
}

.RNNXgb {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 40px;
    margin: 0 auto;
    width: 482px;
}

.bg-gray {
    background: #F0F0F0;
}

.space {
    margin-top: 3000px;
}

.advanced {
    padding: 10px;
    padding-inline: 45px;
    color: #d93025;
    font-family: arial,sans-serif;
}

.forms {
    padding: 20px;
    padding-inline: 45px;
    font-family: arial,sans-serif;
}