.logo {
    padding-top: 129px;
}

.center {
    text-align: center;
}

#rcorners2 {
  border-radius: 25px;
  border: 1px solid gray;
  padding: 20px;
  width: 300px;
  height: 8px;
}

.RNNXgb {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 40px;
    margin: 0 auto;
    width: 482px;
}

.bg-gray {
    background: #F0F0F0;
}

.space {
    margin-top: 3000px;
}

.advanced {
    padding: 10px;
    padding-inline: 45px;
    color: #d93025;
    font-family: arial,sans-serif;
}

.forms {
    padding: 20px;
    padding-inline: 45px;
    font-family: arial,sans-serif;
}

.positioned {
  position: relative;
  left: 100px;
}


input {
    webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}